version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15

tag-filter: &tag-filter
  filters:
    tags:
      only: /v[0-9]+(\.[0-9]+)*/
    branches:
      ignore: /.*/

whitelist: &whitelist
  paths:
    - .npmignore
    - lib/*
    - node_modules/*
    - src/*
    - package.json
    - README.md
    - tsconfig.json
    - tslint.json
    - jest.config.json
    - examples

jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-
      - run:
          name: Installing dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Running linter
          command: yarn lint:ci

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Running unit tests and coverage
          command: yarn test:cov
      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist
      - store_artifacts:
          path: coverage
      - codecov/upload:
          file: coverage/*

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Building code
          command: yarn build

      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticating via registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publishing package
          command: yarn publish --access=public

workflows:
  version: 2
  pr-branch:
    jobs:
      - checkout
      - test:
          requires:
            - checkout
      - lint:
          requires:
            - checkout
      - build:
          requires:
            - lint
            - test
  tag-release:
    jobs:
      - checkout:
          <<: *tag-filter
      - test:
          <<: *tag-filter
          requires:
            - checkout
      - lint:
          <<: *tag-filter
          requires:
            - checkout
      - build:
          <<: *tag-filter
          requires:
            - test
            - lint
      - publish:
          <<: *tag-filter
          requires:
            - build
